# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/misc.xml
/Advent-of-Code-2024.iml
/modules.xml
/inspectionProfiles/
/vcs.xml
